{% extends "base.html.twig" %}
{% block sidebar %}  
{% if app.user %}
    
 
 {% if is_granted('ROLE_AGENCE') %}


    
                    
                         {{ render(controller( 'App\\Controller\\OffresCreatedController::findagency')) }}
{% endif %}
{% endif %}  {% endblock %}

{% block content %}


  
   <div class="mx-auto px-auto row d-flex justify-content-center  wrap">
{% for agence in agence %}
    

      <div class=" rounded-3 csm-slide mx-1 my-1 col-md-5 col-lg-3 align-self-center">
        <div class="card profile-card-2" style="border-radius:4rem;">
          <div class="card-img-block border-bottom border-dark border-4">
            <img class="img-fluid " src="{{asset('smart-labs-assets/img/bg/smatassu.png')}}" alt="Card image cap">
          </div>
          <div class="card-body text-center resp-text">
            <img src="{{asset('smart-labs-assets/img/logo3.jpg')}}" alt="profile-image" class="profile img-fluid" />
            <h5 class="resp-text mt-4 text-dark">{{agence.NomAgence}}</h5>
            <p class="resp-text">{{agence.Description}}</p>
            <div class="icon-block mb-1 d-flex justify-content-center resp-text flex-center bg-danger p-1" style="border-radius:1rem;">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"> <i class="fa-brands fa-twitter"></i></a>
              <a href="#"> <i class="fa-brands fa-google"></i></a>
              <a href="#"> <i class="fa-solid fa-plus"></i></a>
            </div>


          </div>
        </div>
      </div>
{% endfor %}
</div>
<div style="margin-bottom:15em;"></div>
{% endblock %}


